.form {
  display: inline-block;
  width: 500px;
  padding: 30px;

  .panel-tabs {
    margin-bottom: 30px;
    border: none !important;

    a {
      margin-right: 15px;
    }

  }

  p {
    font-size: 15px;
    display: inline-block;
  }

  .radios {
    margin-left: 10px;
    display: inline-block;
  }


}
